<style>
.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  width: 40px; /* Set the width of the image */
  height: 40px; /* Set the height of the image */
  margin-right: 5px; /* Add some space between the image and the text */
}
</style>


<div>
    <h3>Address:</h3>
    <p class="align-content-center">
    Ramprakash Trading Company<br />
    Leigh Bazar, Salem, Tamil nadu<br />
    Managed by Mr.Sridharan Perumal<br />
    Proprietor : Mrs Arul Selvi Sridharan<br />
    email: sriper1967@gmail.com
    </p>
</div>